@import url(./null.css);

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    padding-block: 20px;

}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    border: 1px solid tomato;
    border-radius: 8px;
    /* transition: all .3s ease-in-out; */
}

.dialog__inner {
    padding: 10px;
}

@keyframes shakeX {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-48%, -50%);
    }

    50% {
        transform: translate(-52%, -50%);
    }

    75% {
        transform: translate(-48%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

dialog[open] {
    animation: shakeX 0.2s ease-in-out;
    /* transform: translate(-48%, -50%); */
}

dialog .close {
    text-align: right;
}

dialog .close i {
    cursor: pointer;

    &:active {
        opacity: .6;
    }
}

.btn__cover {
    text-align: center;
}

.btn__cover button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: tomato;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;

    &:active {
        scale: 96%;
    }
}

h1 {
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
    text-transform: uppercase;
    color: green;
}

.hide {
    overflow: hidden;
}