/* font-family: "Outfit", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Plus Jakarta Sans", sans-serif; */

body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-color: #111204;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

main {
    margin-bottom: 110px;
}

header {
    margin-bottom: 105px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
}

.logo a span:nth-of-type(1) {
    color: #fff;
}

.logo a span:nth-of-type(2) {
    color: #B9FD50;
}

.header__inner {
    padding-top: 35px;
}

.header__inner nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

.header__inner nav ul {
    display: flex;
    align-items: center;
}

.header__inner nav ul li:not(:last-child) {
    margin-right: 32px;

}



.header__inner nav ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    transition: transform .1s ease-in-out;
}

.header__inner nav ul li:hover {
    transform: translateY(-2px);
}

.started {
    width: 160px;
    height: 56px;
    background: #B9FD50;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #111204;
    transition: background .2s ease-in-out;
    cursor: pointer;
}





.started:hover {
    background: #b8fd50c5;
}

.started:active {
    transform: scale(98%);
}

.dream {
    margin-bottom: 40px;
}

.dream .meeting {
    margin-bottom: 70px;
}

.dream__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 45px; */
    position: relative;
}

.dream__inner::before {
    content: "";
    position: absolute;
    /* width: 416px;
    height: 309px; */
    top: 1%;
    width: 420px;
    height: 300px;
    background: rgba(185, 253, 80, 0.4);
    filter: blur(174px);
    /* z-index: -1; */
}

/* .dream__header {
    display: flex;
    justify-content: center;
} */

h1 {
    font-family: inherit;
    font-weight: 700;
    font-size: 96px;
    line-height: 103px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FFFFFF;
    max-width: 860px;
    padding-bottom: 45px;
}

h1 span {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    color: #B9FD50;
    font-style: italic;
}

.dream .dream__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    max-width: 520px;
    position: relative;
    padding-bottom: 42px;
}

.dream__started {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    max-width: 405px;
    width: 100%;
    text-align: center;
}

.dream__started::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 2px;
    background-color: #B9FD50;
}

.dream__started::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 2px;
    background-color: #B9FD50;
}

.dream__inner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 7.5%;
    width: 112px;
    height: 112px;
    background: url(../img/star-1.svg) no-repeat center / contain;
}

.dream__descr::after {
    content: '';
    position: absolute;
    bottom: -50%;
    right: 7%;
    width: 24px;
    height: 24px;
    background: url(../img/star-2.svg) no-repeat center / contain;
}

.dream__descr::before {
    content: '';
    position: absolute;
    bottom: -26%;
    left: -19%;
    width: 16px;
    height: 16px;
    background: url(../img/star-3.svg) no-repeat center / contain;
}

.dedicated .dedicated__brends {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 33px 0;
    background-color: #222222;
    border-radius: 22px;
    margin-bottom: 125px;
}

.dedicated .dedicated__brends img {
    width: auto;
    height: 48px;
}

.dedicated__items {
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
}

.dedicated__items .dedicated__item:nth-child(1) {
    max-width: 570px;
}

.dedicated__items .dedicated__item:nth-child(2) {
    max-width: 500px;
    padding-top: 3.5%;
}

.dedicated__items .dedicated__item:nth-child(1) span {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #B9FD50;
    display: inline-block;
    margin-bottom: 10px;
}

.dedicated__items .dedicated__item:nth-child(1) h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}


.dedicated__items .dedicated__item:nth-child(2) p {
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 36px;
}

.dedicated .benefits__items {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.dedicated .benefits__item {
    max-width: 300px;
    width: 100%;
}

.dedicated .benefits__item .benefits__item-img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: #B9FD50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
    position: relative;
}

.dedicated .benefits__item .benefits__item-img img {
    width: 45px;
    height: auto;
}

.dedicated .benefits__item h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.dedicated .benefits__item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}

.benefits__items .benefits__item:not(:last-child) .benefits__item-img::after {
    content: '';
    position: absolute;
    background: url(../img/arrow-right.svg) no-repeat;
    width: 400%;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    left: 90%;
    z-index: 5;
}

.dedicated {
    margin-bottom: 65px;
}

.revolution__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1E2008;
    border-radius: 35px;
    padding: 60px 0;
    position: relative;
}

.revolution__inner::before {
    content: "";
    position: absolute;
    background: rgba(185, 253, 80, 0.2);
    filter: blur(174px);
    width: 365px;
    height: 271px;

}


.revolution__inner h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 65px;
    letter-spacing: -0.055em;
    color: #FFFFFF;
    margin-bottom: 20px;
    max-width: 506px;
    text-align: center;
}

.revolution__inner>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    max-width: 263px;
    text-align: center;
    margin-bottom: 50px;
}

.revolution__btn {
    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}


footer .agency__items {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    padding-bottom: 55px;
    border-bottom: 1px solid #404040;
    /* margin-bottom: 26px; */
}

footer .agency__item .logo {
    padding-bottom: 20px;
}

footer .agency__item:nth-child(1) {
    max-width: 310px;
}

footer .agency__item-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

footer .agency__item-contacts a {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    font-style: normal;
}

footer .agency__item-contacts a img {
    width: 20px;
    height: 20px;
}

footer .agency__item-contacts a:not(:last-child) {
    margin-bottom: 25px;
}

.agency__item-contacts {
    margin-bottom: 25px;
}

footer .agency__item-social ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

footer .agency__item-social ul li img {
    width: 24px;
    height: 24px;
}

footer .footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 50px 35px 50px; */
}



.footer__nav {
    display: flex;
    align-items: center;
    gap: 70px;
    /* padding-bottom: 35px; */
    /* min-height: 60px; */
    padding: 26px 0px 35px 0px;
    /* margin-bottom: 10px; */
}

.footer__nav ul {
    display: flex;
    align-items: center;
}

.footer__nav ul li:not(:last-child) {
    margin-right: 32px;

}



.footer__nav ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    transition: transform .1s ease-in-out;
}

.footer__nav ul li:hover {
    transform: translateY(-2px);
}

footer .copyright {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}