$neutral-primary: #3D3D3D;
$black-secondary: #5C5C5C;
$white-darken: #F5F5F5;

$primary-color: #14367B;
$warning-color: #8F4F00;
$error-color: #81290E;

$item-color-1: #EEF2FC;
$item-color-2: #FFF6EB;
$item-color-3: #FDF0EC;


$box-shadow-1: 0px 1px 10px rgba(242, 113, 84, 0.1);
$box-shadow-2: 0px 1px 10px rgba(255, 175, 71, 0.1);
$box-shadow-3: 0px 1px 10px rgba(131, 195, 140, 0.1);

$border-color-1: 1px solid #CAD9F6;
$border-color-2: 1px solid #FFE4C2;
$border-color-3: 1px solid #FAD0C6;