* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

li {
    list-style: none;
    cursor: pointer;
}



.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 10px;
}


main section {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

main section h2 {
    grid-column: 1 / 2;
    /* grid-row: 1 / 5; */
    padding: 0px 5px;
    /* align-items: stretch; */
    border-right: 1px dashed gray;
    /* border: 1px solid black; */
    position: sticky;
    top: 20px;
}

main section p {
    grid-column: 2 / -1;
}