html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

*::after,
*::before {
    display: inline-block;
}