@import url(./null.css);

body {
    font-family: "Outfit", sans-serif;
    background-color: #D6E2F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 320px;
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    box-shadow: 1px 10px 22px 9px rgba(0, 0, 0, 0.05);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.box img {
    width: 100%;
    margin-bottom: 25px;
}

.box h3 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.025em;
    text-align: center;
    color: #1F3251;
    padding-left: 17px;
    padding-right: 17px;
}

.box h4 {
    font-weight: 500;
    color: #7B879D;
    letter-spacing: 0.01em;
    font-size: 15px;
    letter-spacing: 0.025em;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 25px;
}