* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;

}

body {
    min-height: 100vh;
    padding-block: 20px;
    padding-inline: 20px;
}

.box {
    display: grid;
    grid-template-columns: 3fr 7fr 3fr;
    /* grid-template-rows: 50px auto 50px; */
    /* min-height: 100vh; */
    /* grid-template-rows: 1fr; */
    /* grid-auto-rows: auto; */
    column-gap: 10px;
    row-gap: 10px; 
}

/* .content {
    display: grid;
} */

.box-item {
    border: 1px dashed gray;
}

.content {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 20px;
}

.content .box-item:nth-child(1),
.content .box-item:last-child,
.header,
.footer {
    grid-column: 1 / -1;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .box-item:nth-child(1) {
    grid-column: 1 / -1;
}

.box-item:last-child {
    grid-column: 1 / -1;
} */

/* aside {
    grid-row: 1 / -1;
} */