* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    height: 200px;
    background-color: green;
    opacity: .6;
    position: relative;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    opacity: .6;
    
}

.box2 {
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: .6;
    
}

.box2::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    right: 0;
    bottom: 0;
    z-index: 5;
}