* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.box {
    max-width: 740px;
    margin: 0 auto;
    padding: 50px 10px 0px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    box-shadow: inset 0px -1px 0px #C9CFDA;
}

thead th {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #00072B;
    padding: 6px 0;
}

thead th:nth-child(4) {
    padding-left: 30px;
}

tbody tr td:nth-child(4) {
    padding-left: 30px;
}

tbody tr {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #00072B;
}

tbody tr:hover {
    background-color: #00000007;
}

tbody tr td {
    padding: 3px 0;
}

.company-item img {
    width: 42px;
    height: 42px;
}

.company-item,
.contact {
    display: flex;
    align-items: center;
}

.company-item {
    gap: 15px;
}

.contact {
    gap: 12px;
}

tbody .msg {
    padding: 1px 0px;
    display: inline-block;
    width: 62px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    border: 1px solid #000;
    color: #000;

}

tbody .msg.active {
    border: 1px solid #7FC008;
    color: #7FC008;
}

tbody .msg.danger {
    border: 1px solid #DB303F;
    color: #DB303F;
}

tbody .msg.pending {
    border: 1px solid #DB8C28;
    color: #DB8C28;
}