* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'RobotoSlab Medium', serif;
    font-size: 14px;
}

.box {
    max-width: 1034px;
    margin: 0 auto;
    padding: 0 10px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    border-radius: 12px;
}

table caption {
    font-family: 'RobotoSlab Bold', serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
}

th,
td {
    text-align: center;
    padding: 8px 5px;
}



thead tr th:first-child {
    border-radius: 12px 0px 0px 0px;
}


thead tr th:last-child {
    border-radius: 0px 12px 0px 0px;
}

thead tr th:not(:last-child) {
    border-right: 1px solid #00000032;
}

tbody tr:not(:last-child) td {
    border-bottom: 1px solid #00000032;
    border-right: 1px solid #00000032;
}

tbody td {
    font-family: 'RobotoSlab Medium', serif;
}

tbody tr:hover {
    background-color: #d2d2d246;
}


thead tr {
    background-color: #00000032;
}

tbody tr:nth-child(4n) {
    background-color: yellow;
}

thead th {
    font-family: 'RobotoSlab SemiBold', serif;
    text-transform: uppercase;
}

tbody tr td:first-child {
    width: 30px;
    border-left: 1px solid #00000032;
}

tbody tr:last-child td {
    border-right: 1px solid #00000032;
}

tfoot {
    background-color: #00000032;
}

tfoot .total {
    text-align: center;
    text-transform: uppercase;

}

tfoot td {
    font-family: 'RobotoSlab Medium', serif;
}

tfoot tr td:first-child {
    border-radius: 0px 0px 0px 12px;
}

tfoot tr td:last-child {
    border-radius: 0px 0px 12px 0px;
}

tfoot tr td:first-child {
    border-right: 1px solid #00000032;
}