@import url(./null.css);
@import url(./fonts.css);

body {
    font-family: 'Montserrat-regular', serif;
    font-size: 16px;
}

.box {
    max-width: 788px;
    margin: 0 auto;
    padding: 0 10px;
    padding-block: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius:3px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #00000032;
}

th,
td {
    border: 1px solid #00000032;
}

thead tr:nth-child(1) td {
    border-bottom: none;
    padding: 4px;
}

thead tr:nth-child(1) th {
    padding: 4px;
    color: #51565d;
}


thead tr:nth-child(2) td {
    border-top: none;
    padding: 4px;
}

thead tr:nth-child(2) th div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* padding: 6px; */
}

thead tr:nth-child(2) th div span {
    text-orientation: sideways;
    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;
    line-height: 33px;
    font-size: 13px;
}

thead tr:nth-child(2) th div {
    color: #51565d;
}


thead tr:nth-child(2) th {
    vertical-align: bottom;
    padding: 4px;
}


tbody tr th {
    width: 100%;
    padding: 4px;
    text-align: left;
}

tbody tr th i {
    font-size: 13px;
    color: #51565d;
}


tbody tr td button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px;
    width: 100%;
    height: 100%;
    align-items: center;
    background: none;
    cursor: pointer;
}

@media (hover: hover) {
    tbody tr td button:hover {
        background-color: #edeef0;
    }
}

tbody tr td button:active {
    background-color: #edeef0;
}


tbody tr td button i {
    color: #5d5151;
    font-size: 11px;

}

tbody tr td button span {
    color: #065b29;
}

tbody tr th code {
    padding: 2px 4px;
    background-color: #edeef0;
    color: #000;
    border-radius: 2px;
    font-size: 13px;
}

tbody tr th i {
    margin-left: -3px;
    vertical-align: inherit;
}



/* thead th span {
    text-orientation: sideways;
    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;
} */