@import url(./null.css);

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000008;
}

.card {
    width: 400px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    img {
        width: 100%;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
        padding-bottom: 5px;
        text-align: center;
    }

    h3 {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }

    p {
        padding: 10px;
        text-align: center;
    }
}


.skills {
    padding: 10px;

    h4 {
        font-family: inherit;
        padding-bottom: 5px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    ul li {
        padding-bottom: 5px;
        transition: font-weight .2s ease-in-out;
        &:hover {
            font-weight: 500;
        }
    }
}

.social__btns {
    display: flex;
    justify-content: space-around;

    img {
        width: 40px;
        height: auto;
    }

    li {
        opacity: .8;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}