* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.box-cover {
    display: flex;
    padding: 5px;
    border: 1px solid #000;
    gap: 5px;
}

.box-cover .box {
    padding: 40px 0;
    flex-basis: 100px;
    text-align: center;
    border: 1px dashed black;
    border-radius: 2px;
    font-size: 25px;
}

.box-cover .box:hover {
    background-color: #d2d2d2;
    cursor: pointer;
}

.box-cover .box:nth-child(1) {
    flex-grow: 1;
    flex-shrink: 0;
   
}

.box-cover .box:nth-child(2) {
    flex-grow: 1;
     
}

.box-cover .box:nth-child(3) {
    flex-grow: 1;
    flex-shrink: 0;

}

.box-cover .box:nth-child(4) {
    flex-grow: 1;
   
}

.box-cover .box:nth-child(5) {
    flex-grow: 1;
    
}