body {
  font-family: "Poppins", sans-serif;
  background-color: #FBFBFB;
}

.container {
  max-width: 1205px;
  padding: 0 10px;
  margin: 0 auto;
}

.contact__form {
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
}

/* .contact__form-inner {
  
} */

.contact__form-header {
  margin-bottom: 50px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #F7AF03;
  text-align: center;
  margin-bottom: 10px;
}

.contact__form-header p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #717171;
}

.contact__form .box {
  padding: 10px;
}

.box {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.box__info {
  background-color: #011C2B;
  border-radius: 10px;
  padding: 40px 0px 35px 40px;
  flex: 1 1 41%;
}

.box__info-header h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.box__info-header p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #C9C9C9;
}

.box__info-header {
  margin-bottom: 110px;
}

.box__info .contacts {
  margin-bottom: 160px;
}

.box__info .contacts li a {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.box__info .contacts li a img {
  width: 24px;
  height: 24px;
}

.box__info .contacts li:not(:last-child) {
  margin-bottom: 50px;
}

.box__info .contacts li:last-child a {
  align-items: flex-start;
}

.box__info-social ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.box form {
  flex: 1 1 59%;
  padding: 60px 50px 0px 50px;
}

.box form .form__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px 40px;
  margin-bottom: 45px;
}

.box form .form__inputs label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

/* .box form .form__inputs label:visited {
  color: #000;
} */

.box form .form__inputs input {
  padding: 8px;
  border-bottom: 1px solid #8D8D8D;
  width: 100%;
}

form fieldset legend {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #011C2A;
  margin-bottom: 14px;
}

form fieldset .form__radio-items {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 45px;
}

form fieldset .form__radio-items input[type="radio"] {
  display: none;
}