body {
  font-family: "Poppins", sans-serif;
  background-color: #FBFBFB;
}

.container {
  max-width: 1215px;
  padding: 0 10px;
  margin: 0 auto;
}

.contact__form {
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
}



.contact__form-header {
  margin-bottom: 50px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #F7AF03;
  text-align: center;
  margin-bottom: 10px;
}

.contact__form-header p {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #717171;
}

.contact__form .box {
  padding: 10px;
}



.box {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.box__info {
  background-color: #011C2B;
  border-radius: 10px;
  padding: 40px 0px 35px 40px;
  flex: 1 1 41%;
  position: relative;
  overflow: hidden;
}

.box__info::before {
  content: '';
  position: absolute;
  top: -3%;
  right: -11%;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background: rgba(255, 249, 249, 0.13);
}

.box__info::after {
  content: '';
  position: absolute;
  bottom: -13%;
  right: -19%;
  width: 269px;
  height: 269px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.12);
}

.box__info-header h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.box__info-header p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #C9C9C9;
}

.box__info-header {
  margin-bottom: 110px;
}

.box__info .contacts {
  margin-bottom: 160px;
}

.box__info .contacts li a {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.box__info .contacts li a img {
  width: 24px;
  height: 24px;
}

.box__info .contacts li:not(:last-child) {
  margin-bottom: 50px;
}

.box__info .contacts li:last-child a {
  align-items: flex-start;
}

.box__info-social ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.box form {
  flex: 1 1 59%;
  padding: 60px 50px 0px 50px;
}

.box form .form__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px 40px;
  margin-bottom: 45px;
}

.box form .form__inputs label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

/* .box form .form__inputs label:visited {
  color: #000;
} */

.box form .form__inputs input {
  padding: 8px;
  border-bottom: 1px solid #8D8D8D;
  width: 100%;
}

form fieldset legend {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #011C2A;
  margin-bottom: 14px;
}

form fieldset .form__radio-items {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 45px;
}

form fieldset .form__radio-items label input[type="radio"] {
  display: none;
}

.form__radio-items .form__radio-item {
  position: relative;
}

.form__radio-items .form__radio-item label {
  padding-left: 23px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.form__radio-items .form__radio-item label span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E0E0E0;
  cursor: pointer;
  z-index: 1;
}

.form__radio-items .form__radio-item label span::after {
  content: '';
  position: absolute;
  background: url(../img/checked.svg) no-repeat center / contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  z-index: 2;
  opacity: 0;
}

.form__radio-items .form__radio-item input[type="radio"]:checked+span::after {
  opacity: 1;
}

.form__radio-items .form__radio-item input[type="radio"]:checked+span {
  background-color: #000;
}

fieldset>label[for="message"] {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #8D8D8D;
  padding-bottom: 5px;
  display: block;
}

fieldset>textarea[id="message"] {
  font-family: inherit;
  width: 100%;
  resize: vertical;
  color: #8D8D8D;
  border-bottom: 1px solid #8D8D8D;
  min-height: 30px;
  height: 30px;
  max-height: 130px;
  margin-bottom: 45px;
}

fieldset>textarea[id="message"]::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8D;
}

.form__btn-cover {
  text-align: right;
}

.form__btn-cover button[type="submit"] {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #011C2A;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 15px 48px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.form__btn-cover button[type="submit"]:hover {
  background-color: #043751;
}

.form__btn-cover button[type="submit"]:active {
  transform: scale(99%);
}

.box form {
  position: relative;
}

.box form::after {
  content: '';
  position: absolute;
  width: 240px;
  height: 112px;
  background: url(../img/decore.svg) no-repeat center center / cover;
  bottom: 0%;
  right: -2%;

}