body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}

.signin {
    display: grid;
    grid-template-columns: 1fr 486px;
    /* border: 1px solid #000; */
    width: 100%;
    min-height: 745px;
    position: relative;
}

.signin::after {
    content: '';
    position: absolute;
    bottom: -115px;
    right: 137px;
    width: 212px;
    height: 205px;

    background-image: url('../img/decore-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.signin::before {
    content: '';
    position: absolute;
    left: -7%;
    top: 25%;
    width: 166px;
    height: 166px;

    background-image: url('../img/decore-1.png');
    filter: drop-shadow(0px 60px 24px rgba(23, 50, 142, 0.24));
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}


.signin__couple {
    padding: 70px;
    background: #3949AB;
    backdrop-filter: blur(12px);
    border-radius: 24px 0px 0px 24px;
    position: relative;
}

.signin__couple .logo {
    width: 200px;
    height: auto;
}

.signin__couple-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.signin__couple-content::after {
    content: '';
    position: absolute;
    top: 26%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #00227B;
    z-index: -1;
    opacity: 0.6;
}

.signin__couple-content img {
    width: 190px;
    height: auto;
    padding-bottom: 40px;
}

.signin__couple-content h3 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    /* padding-bottom: 12px; */
}

.signin__couple-content h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #fff;
}

.login {
    border: 1px solid #E6E9FA;
    border-radius: 0px 24px 24px 0px;
    backdrop-filter: blur(12px);
}

form {
    padding-top: 165px;
}

form fieldset {
    padding: 0px 65px;
}

form legend {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #343434;
    display: inline-block;
    text-align: center;
    padding-bottom: 50px;
}

form fieldset input {
    width: 100%;
    height: 40px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    padding-left: 8px;
    color: #828282;
}

form fieldset input::placeholder {
    color: #828282;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

form fieldset .email,
form fieldset .password,
form fieldset .forgot__pass {
    margin-bottom: 16px;
}

form fieldset .password {
    position: relative;
}

form fieldset .password label img {
    cursor: pointer;
}

form fieldset .password label img:active {
    opacity: .6;
}

form fieldset .password label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
}

form fieldset .forgot__pass{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #6F74DD;
    text-align: right;
}

form fieldset button {
    height: 40px;
    cursor: pointer;
}

form fieldset button:active {
    scale: .99;
}

form fieldset button[type="submit"] {
    color: #FFFFFF;
    border-radius: 99px;
    font-size: 14px;
    line-height: 19px;
    background-color: #3949AB;
    width: 100%;
    margin-bottom: 8px;
}

form .social__btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #3949AB;
    border: 1px solid #3949AB;
    border-radius: 99px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background: none;
    width: 100%;

    img {
        width: 24px;
        height: auto;
    }
}

.social__btns {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

form .account {
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    text-align: center;
    margin-bottom: 16px;
}

form .registration {
    color: #3949AB;
    border: 1px solid #3949AB;
    border-radius: 99px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background: none;
    width: 100%;
}