/* font-family: "Montserrat", sans-serif; */
/* font-family: 'GeorgiaDemoMix'.sans-serif;
font-family: 'Georgia-italic', sans-serif;
font-family: 'Graphik Web', sans-serif; */
/* 
h1 {
    font-family: 'Georgia-italic', sans-serif;
    text-decoration: underline;
    font-size: 80px;
} */

:root {
    /* //675px */
    --p-size: clamp(0.938rem, -0.322rem + 5.376vw, 2.5rem);
    --p-t-size: clamp(0.938rem, -5.594rem + 27.869vw, 6.25rem);
    --root-p-size: clamp(0.625rem, 0.11rem + 2.198vw, 1.25rem);
}


body {
    background-color: #0B001A;
    font-family: "Montserrat", sans-serif;
    padding-top: var(--root-p-size);
}

.container {
    /* max-width: 1420px;
    padding: 0px 10px; */
    padding-left: max(var(--root-p-size), calc((100vw - 1400px) / 2));
    padding-right: max(var(--root-p-size), calc((100vw - 1400px) / 2));
    margin: 0 auto;

}

header {
    /* background: linear-gradient(to bottom, #8338EC, #B923FF); */
    /* background-color: #1E0044; */

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px clamp(0.625rem, -1.373rem + 8.525vw, 2.25rem);
        background-color: #1E0044;
        border-radius: 20px 20px 0px 0px;

        nav {
            .social {
                display: flex;
                gap: 48px;
                align-items: center;

                li a {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: #E9DEFF;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    text-transform: uppercase;

                    img {
                        width: 8px;
                        height: 8px;
                    }
                }
            }

            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 20px;
                height: 20px;

                &:active {
                    transform: scale(1.1);
                }
            }
        }



        button {
            background: #1E0044;
            box-shadow: 0px 0px 19px 9px rgba(162, 45, 247, 0.1), 0px 0px 46.8519px rgba(162, 45, 247, 0.1), 0px 0px 25.4815px rgba(162, 45, 247, 0.1), 0px 0px 13px rgba(162, 45, 247, 0.1), 0px 0px 6.51852px rgba(162, 45, 247, 0.1), 0px 0px 3.14815px rgba(162, 45, 247, 0.1);
            border-radius: 19.1695px;
            width: 126px;
            height: 37px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #E9DEFF;
            cursor: pointer;

            img {
                width: 10px;
                height: 10px;
            }

            &:active {
                transform: scale(96%);
            }
        }

        #lab {
            display: none;
        }

        #chb-m {
            display: none;
        }
    }

    nav>.modal-close {
        display: none;
    }
}


.freelance {
    margin-bottom: 40px;

    .freelance__inner {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        background-color: #1E0044;
        padding: var(--p-t-size) var(--p-size) 40px var(--p-size);
        border-radius: 0px 0px 20px 20px;

        .freelance__header {
            max-width: 720px;
            margin-bottom: 60px;

            h1 {
                font-weight: 500;
                font-size: 100px;
                line-height: 100%;
                letter-spacing: -0.05em;
                color: #E9DEFF;
                padding-bottom: clamp(0.875rem, 0.094rem + 3.333vw, 1.5rem);

                span {
                    font-family: 'Georgia-italic', sans-serif;
                    background: linear-gradient(to right, #8338EC, #B923FF);
                    font-style: italic;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;
                    padding-right: 5px;
                }
            }

            p {
                font-weight: 400;
                font-size: clamp(0.875rem, 0.106rem + 3.279vw, 1.5rem);
                line-height: 120%;
                letter-spacing: -0.04em;
                color: #E9DEFF;
                padding-right: 160px;
            }
        }

        .freelance__footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                color: #E9DEFF;
            }

            img {
                width: clamp(3.125rem, -1.25rem + 18.667vw, 6.625rem);
            }

        }
    }
}

.cards {
    margin-bottom: 40px;

    .cards__items {
        display: flex;
        gap: 24px;

        .cards__item {
            flex: 1 1 100%;
            background: linear-gradient(93.26deg, #8338EC 10.4%, #9C2EF5 101.06%);
            border-radius: 20px;
            padding: clamp(1.25rem, -1.454rem + 5.634vw, 2.25rem);

            h2 {
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                letter-spacing: -0.01em;
                color: #FFFFFF;
                padding-bottom: clamp(1.563rem, -11.113rem + 26.408vw, 6.25rem);
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: #FFFFFF;
                padding-bottom: 16px;
            }

            .cards__item-btns {
                display: flex;
                align-items: center;
                gap: 8px;

                button {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    color: #fff;
                    padding: 6px 12px;
                    border: 1px solid #FFFFFF;
                    border-radius: 99px;
                    background: none;
                    cursor: pointer;
                    user-select: none;
                    -webkit-tap-highlight-color: transparent;

                    &:active {
                        transform: scale(97%);
                    }
                }
            }
        }
    }
}

.korba {
    margin-bottom: 40px;

    .korba__items {
        display: flex;
        justify-content: space-between;
        background-color: #E9DEFF;
        padding: clamp(1.25rem, -4.349rem + 10.417vw, 2.5rem);
        border-radius: 40px;
        gap: 5px;

        .korba__item-label {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            text-transform: uppercase;
            color: #0B001A;
            padding-bottom: 16px;
            display: inline-block
        }

        .korba__item-title {
            font-weight: 500;
            font-size: 50px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: #0B001A;
            padding-bottom: 16px;
        }

        .korba__item:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* flex: 1 1 0;
        min-width: 0; */

            .korba__item-footer {
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    color: #0B001A;
                    max-width: 400px;
                    margin-bottom: 32px;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 6px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: -0.01em;
                    text-transform: uppercase;
                    color: #0B001A;
                    padding: 10px 14px;
                    background-color: #E9DEFF;
                    box-shadow: 0px 0px 19px 9px rgba(162, 45, 247, 0.1), 0px 0px 46.8519px rgba(162, 45, 247, 0.1), 0px 0px 25.4815px rgba(162, 45, 247, 0.1), 0px 0px 13px rgba(162, 45, 247, 0.1), 0px 0px 6.51852px rgba(162, 45, 247, 0.1), 0px 0px 3.14815px rgba(162, 45, 247, 0.1);
                    border-radius: 20px;
                    cursor: pointer;

                    img {
                        width: 10px;
                        height: 10px;
                    }

                    &:active {
                        transform: scale(98%);
                    }
                }
            }
        }

        .korba__item:nth-child(2) {
            flex: 0 1 50%;
            /* min-width: 0; */
        }

        .korba__item-btns {
            display: flex;
            align-items: center;
            gap: 8px;

            button {
                border: 1px solid #0B001A;
                padding: 6px 12px;
                border-radius: 99px;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: #0B001A;
                background: none;
                cursor: pointer;

                &:active {
                    transform: scale(95%);
                }
            }
        }

        .korba__item img {
            /* max-width: 660px;
        height: auto; */
            width: 100%;
            /* height: auto;
        display: block;
        object-fit: contain; */
        }
    }
}

.trail {
    margin-bottom: 40px;

    .trail__items {
        display: flex;
        justify-content: space-between;
        background-color: #1E0044;
        padding: clamp(1.25rem, -4.349rem + 10.417vw, 2.5rem);
        border-radius: 40px;
        gap: 5px;

        .trail__item-label {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            text-transform: uppercase;
            color: #E9DEFF;
            padding-bottom: 16px;
            display: inline-block
        }

        .trail__item-title {
            font-weight: 500;
            font-size: 50px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: #E9DEFF;
            padding-bottom: 16px;
        }

        .trail__item:first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* flex: 1 1 0;
        min-width: 0; */

            .trail__item-footer {
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    color: #E9DEFF;
                    max-width: 400px;
                    margin-bottom: 32px;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 6px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: -0.01em;
                    text-transform: uppercase;
                    color: #E9DEFF;
                    padding: 10px 14px;
                    background: #1E0044;
                    box-shadow: 0px 0px 19px 9px rgba(162, 45, 247, 0.1), 0px 0px 46.8519px rgba(162, 45, 247, 0.1), 0px 0px 25.4815px rgba(162, 45, 247, 0.1), 0px 0px 13px rgba(162, 45, 247, 0.1), 0px 0px 6.51852px rgba(162, 45, 247, 0.1), 0px 0px 3.14815px rgba(162, 45, 247, 0.1);
                    border-radius: 20px;
                    cursor: pointer;

                    img {
                        width: 10px;
                        height: 10px;
                    }

                    &:active {
                        transform: scale(98%);
                    }
                }
            }
        }

        .trail__item:nth-child(2) {
            flex: 0 1 50%;
            /* min-width: 0; */
        }

        .trail__item-btns {
            display: flex;
            align-items: center;
            gap: 8px;

            button {
                border: 1px solid #E9DEFF;
                padding: 6px 12px;
                border-radius: 99px;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
                color: #E9DEFF;
                background: none;
                cursor: pointer;

                &:active {
                    transform: scale(95%);
                }
            }
        }

        .trail__item img {
            /* max-width: 660px;
        height: auto; */
            width: 100%;
            /* height: auto;
        display: block;
        object-fit: contain; */
        }
    }
}

@media (width < 870px) {
    .korba .korba__items {
        display: block;
    }

    .korba__item-btns {
        padding-bottom: 16px;
    }

    .korba__item-footer {
        margin-bottom: 20px;

        p {
            max-width: 100% !important;
        }
    }

    .trail .trail__items {
        display: block;
    }

    .trail__item-btns {
        padding-bottom: 16px;
    }

    .trail__item-footer {
        margin-bottom: 20px;

        p {
            max-width: 100% !important;
        }
    }
}

@media (width < 768px) {
    .cards .cards__items {
        flex-wrap: wrap;
    }
}

@media (width < 840px) {
    .freelance__header p {
        padding-right: 0px !important;
    }

    h1 {
        font-size: clamp(2.625rem, -0.298rem + 12.473vw, 6.25rem) !important;
    }
}

@media (width < 830px) {

    #lab {
        display: block !important;

        svg {
            display: block !important;
        }
    }

    header nav {
        display: none !important;
        position: fixed;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        padding: 40px;
        background-color: gray;

        ul {
            flex-direction: column;

            align-items: flex-start !important;

            li {
                a {
                    gap: 12px !important;
                    user-select: none;
                    -webkit-tap-highlight-color: transparent;

                    span {
                        font-size: 20px;
                    }

                    img {
                        width: 12px !important;
                        height: 12px !important;
                    }

                    &:active {
                        transform: scale(.95);
                    }

                }
            }
        }
    }

    header {
        #lab {
            order: 2;
            margin-left: 20px;
        }

        .talk__btn {
            margin-left: auto;

        }

        #chb-m:checked~nav {
            display: block !important;
        }

        nav>.modal-close {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 15px;
            font-weight: 600;
            z-index: 1;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            /* position: relative; */

            img {
                width: 20px;
                height: 20px;

            }

            &:active::after {
                content: '';
                position: absolute;
                width: 35px;
                height: 35px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ffffff7b;
                border-radius: 50%;
                opacity: .3;
                z-index: 2;

            }
        }
    }

    body:has(#chb-m:checked) {
        overflow: hidden;
    }
}

@media (width < 490px) {
    header button {
        display: none !important;
    }

    .korba__item-footer button {
        width: 100%;
    }

    .trail__item-footer button {
        width: 100%;
    }

    /* .header__logo img {
        width: 150px;
    } */
}